*{
    background-color: rgb(72, 179, 241);
}

.titulo{
    margin-top: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

